
<h1 class="text-center text-5xl text-[#F9F8F6] drop-shadow-[0_0_4px_rgba(0,0,1,1)] font-bold "> Japanese Language Proficiency Test Countdown </h1>
<h1 class="text-center text-5xl text-[#F9F8F6] drop-shadow-[0_0_4px_rgba(0,0,1,1)] ">日本語能力試験 カウントダウン</h1>
<h1 class="text-5xl font-bold text-center text-yellow-400 drop-shadow-[0_0_4px_rgba(1,1,1,1)]" id="nextTest"> Next Test</h1>
<div class="relative min-h-50">
  <div id="nextTestDisplay" class="ease-in inset-0 absolute transition-opacity duration-500"></div>
  <div id="summerTest" class="space-y-5  absolute inset-0 transition-opacity duration-500 opacity-0">
    <p class="text-center text-6xl font-bold text-shadow-2xs text-[#FFD400] drop-shadow-[0_0_3px_rgba(9,9,9,9)]"> July 5th, 2026</p>

    <div class="grid grid-flow-col auto-cols-max gap-2 place-content-center" id="clock">
  
    <div  class=" rounded-box flex flex-col bg-gray-500 p-2 border-2">
    <span class=" font-mono lg:text-5xl text-white sm:text-4xl">
  
      <div id="daysS" aria-live="polite"></div>
  
      <p>Days</p>
    </span>
    </div>
    <div class="rounded-box  flex flex-col bg-gray-500 p-2 border-2">
  
      <span class="font-mono text-white lg:text-5xl sm:text-4xl"><span id="hoursS" aria-live="assertive"></span>  <p> Hours</p></span>
  
  
    </div>
    <div class="rounded-box  flex flex-col p-2 border-2 bg-gray-500"  >
        <span class="font-mono text-white lg:text-5xl sm:text-4xl">
          <span id="minsS" aria-live="polite"></span>
  
            <p>Minutes</p>
        </span>
    </div>
    <div class="rounded-box  flex flex-col p-2 bg-gray-500 border-2" >
        <span class="font-mono lg:text-5xl sm:text-4xl text-white">
          <span id="secsS" aria-atomic="false"></span>
  
            <p>Seconds</p>
        </span>
    </div>
    </div>
  </div>
  
  <div id="winterTest" class="space-y-5 absolute inset-0 transition-opacity duration-500 opacity-0 ">
  
    <p class="text-center text-6xl font-bold text-white drop-shadow-[0_0_3px_rgba(0,0,0,1)]"> December 6th, 2026</p>
    <div class="grid grid-flow-col auto-cols-max gap-2 place-content-center" id="clock">
  
    <div  class=" bg-gray-500 rounded-box flex flex-col p-2 border-2">
    <span class=" font-mono text-white lg:text-5xl sm:text-4xl ">
  
      <div id="daysW" aria-live="polite"></div>
  
      <p>Days</p>
    </span>
    </div>
    <div class="rounded-box  flex bg-gray-500 flex-col p-2 border-2">
  
      <span class="font-mono text-white lg:text-5xl sm:text-4xl"><span id="hoursW" aria-live="assertive"></span>  <p> Hours</p></span>
  
  
    </div>
    <div class="rounded-box  bg-gray-500 flex flex-col p-2 border-2"  >
        <span class="font-mono text-white lg:text-5xl sm:text-4xl">
          <span id="minutesW" aria-live="polite"></span>
  
            <p>Minutes</p>
        </span>
    </div>
    <div class="rounded-box bg-gray-500 flex flex-col p-2 border-2" >
        <span class="font-mono text-white lg:text-5xl sm:text-4xl">
          <span id="secondsW" aria-atomic="false"></span>
  
            <p>Seconds</p>
        </span>
    </div>
    </div>

  </div>

</div>
<div class="grid grid-flow-col  auto-cols-max gap-4 p-5   place-content-center">
    <button  id="summerButton" type="button" class="btn btn-soft border-2 border-black bg-gray-50  hover:bg-yellow-300 text-2xl p-2 sm:p-6 sm:text-3xl"> Summer Test</button>
  <button id="winterButton" type="button" class="btn btn-soft border-2 border-black bg-gray-50 hover:bg-blue-300 text-2xl p-2 sm:p-6 sm:text-3xl"> Winter Test</button>

  </div>
<script src="../lib/countdown.ts"></script>
