<footer class="bg-gray-100 dark:bg-gray-900 mt-10">
  <div class="mx-auto max-w-5xl ">
    <div class="flex justify-center ">
        <p class="font-bold">
      &copy; {new Date().getFullYear()} JLPT Countdown. All rights reserved.
    </p>
    </div>